In [3]:
print ("Hello world!")

Hello world!

## Comments
Commenting is the process of adding annotations or remarks within your code to provide explanations, context, or documentation. Comments are not executed by the interpreter/compiler and are purely for the benefit of developers reading the code.

In [4]:
# This is a single line comment

In [5]:
"""
This is another way to create comments.
Multi-line comments.
enclosed in triple quotes
"""

'\nThis is another way to create comments.\nMulti-line comments.\nenclosed in triple quotes\n'

In [6]:
x = 5 # This is an inline comment

**Creating Variables**
Creating a variable in Python is simple. You assign a value to a variable name and start using it. Python figures out the variable type automatically.
**Variable Naming Rules**
- Variable names can contain letters (both uppercase and lowercase), digits, and underscores.
- They must begin with a letter or an underscore (_), but not with a digit.
- Case sensitive (myVar and myvar are different variables)
- Python keywords cannot be used as variable names.

In [8]:
# Things to Avoid
# x - 2 = 10
# True = 5
# False = 4
# 2 = 5

In [15]:
integer_number = 5
negative_integer = -20
print(integer_number)
print(negative_integer)

5
-20

In [18]:
print("Type of integer_number:", type(integer_number))

Type of integer_number: <class 'int'>

In [16]:
float_number = 2.14
negative_float = -20.55
print(float_number)
print(negative_float)

2.14
-20.55

In [17]:
print("Type of float_number:", type(float_number))

Type of float_number: <class 'float'>

In [3]:
x = 5
y = 2

print(x + y)

7

## Sequence Types ##
1. **String**: String values, representing text or characters, such as 'hello', "world", '123', etc.

In [6]:
str1 = "Hello World!"
str2 = 'Hello Python'
user = "user123"
print(str1)
print(str2)
print(user)

# String index
print(str1[0])
print(str1[-1])
print(type(str1))

Hello World!
Hello Python
user123
H
!
<class 'str'>

2. **Lists**: Lists are used when you need a collection of elements that can be modified or reordered. They are suitable for sequences of items of the same type or different types.

In [7]:
numbers = [1, 2, 3, 4, 5] # list of ints
names = ["Princess", "Ralph", "Lynbert"] #list of strings
print(numbers)
print(names)
# List indexing
print(numbers[0])
names[0] = "Lim"
print(names)

[1, 2, 3, 4, 5]
['Princess', 'Ralph', 'Lynbert']
1
['Lim', 'Ralph', 'Lynbert']

3. **Tuple**: Tuples are used when you want to store a fixed collection of elements that should not be changed. They are often used for immutable sequences, such as coordinates, database records, or function return values. Usually uses parentheses.

In [8]:
tuple_values = (1, "hello", 3.14)
print(tuple_values)

(1, 'hello', 3.14)

In [8]:
tuple_values = (1, "hello", 3.14)
tuple_values[0] = 2
print(tuple_values)

TypeError: 'tuple' object does not support item assignment

**Dictionaries**:  Dictionaries are used when you need to associate keys with values for efficient lookup. They are suitable for representing data with key-value relationships, such as mappings, configurations, or database records indexed by unique keys.

In [10]:
person = {"name": "John", "age": 30}
print(person)
print(person['age'])

{'name': 'John', 'age': 30}
30


### Boolean Type:
**Bool**: Boolean values representing True or False. Boolean logic is a type of algebra in which results are calculated as either TRUE or FALSE (known as truth values or truth variables).

In [11]:
is_valid = True
is_admin = False
print(is_valid)
print(is_admin)
print(type(is_valid))

True
False
<class 'bool'>

**Dynamic Typing**
Variables can change type after they have been set. This is known as dynamic typing.

In [12]:
my_var = 10
print(type(my_var))
my_var = "Test String"
print(type(my_var))
my_var = 1.2
print(type(my_var))

<class 'int'>
<class 'str'>
<class 'float'>

## Python Operators and Expressions
### Arithmetic Operators

In [15]:
# Addition +
print("Addition:", 5 + 10)
# Subtraction -
print("Subtraction:", 5 - 10)
# Multiplication *
print("Multiplication:", 5 * 10)
# Division /
print("Division:", 5 / 10)
# Modulus % (remainder)
print("Modulus:", 23 % 7)
# Exponent
print("Exponent: ", 10 ** 3) #10^3

Addition: 15
Subtraction: -5
Multiplication: 50
Division: 0.5
Modulus: 2
Exponent:  1000

### Comparison Operators

In [16]:
x = 10
y = 5
# Equal to
result = x == y
print(result)
# Not equal to
result = x != y
print(result)
# Greater Than
result = x > y
print(result)
# Less Than
result = x < y
print(result)
# greater than or equal to
result = x >= y
print(result)
# less than or equal to
result = x <= y
print(result)

False
True
True
False
True
False

### Logical Operators

In [18]:
x = 10
y = 5
# AND
result = (x > 5) and (y < 10)
print(result)
# OR
result = (x > 5) or (y < 3)
print(result)
# NOT
result =  not (x == 10)
print(result)

True
True
False

### Assignment Operators

In [19]:
x = 10
#Addition Assignment
x += 5 # x = x + 5
print(x)
#Subtraction
x -= 5
print(x)
#Multiplication
x *= 5
print(x)
#Division
x /= 5
print(x)

15
10
50
10.0

### Type Coercion or Type Conversion

In [20]:
x = 10 # int
# converting to float
x = float(x)
print(x)
print(type(x))
# convert to string
x = 10.23
x = str(x)
print(x)
print(type(x))
x = 10.45
x = int(x)
print(x)

10.0
<class 'float'>
10.23
<class 'str'>
10

### String Methods

In [21]:
my_string = "Hello Python!"
print(my_string)
print(len(my_string))
first_letter = my_string[0]
print(first_letter)
slice_string = my_string[0:5]
print(slice_string)
my_text = "Reverse this string!"
# starting point: ending point : traversal method
reversed_string = my_text[::-1]
print(reversed_string)

Hello Python!
13
H
Hello
!gnirts siht esreveR

In [22]:
sample_string = "data analytics course"
# capitalize
print(sample_string.capitalize())
# title
print(sample_string.title())
# in
print("data" in sample_string)
print("science" in sample_string)
# find
print(sample_string.find("analytics"))
print(sample_string.find("science"))
#replace
print(sample_string.replace("data", "information"))
# combine
print(sample_string.replace("data", "information").title())
# lower and uppercase
print(sample_string.upper())
print(sample_string.lower())

Data analytics course
Data Analytics Course
True
False
5
-1
information analytics course
Information Analytics Course
DATA ANALYTICS COURSE
data analytics course

In [23]:
text = "the quick brown fox jumps over the lazy dog"
# count
print(text.count("the"))
messy_string = "        Data Analyst - Junior       "
# strip
print(messy_string.strip())
# split
sentence = "Python is fun to learn"
words = sentence.split(" ")
print("Words:", words)

2
Data Analyst - Junior
Words: ['Python', 'is', 'fun', 'to', 'learn']

### Concatenation, f-strings and .format()

In [24]:
first_name = "Abbi"
last_name = "Vicente"
full_name = first_name + " " + last_name
print(full_name)
#f-strings
print(f"Hello my name is {first_name} {last_name}")
sql_str = """
SELECT * FROM
WHERE
x in ({x})
"""
print(sql_str.format(x=first_name))

Abbi Vicente
Hello my name is Abbi Vicente

SELECT * FROM
WHERE
x in (Abbi)

### List Methods

Note: square brackets [] are used for lists, indexing, and list comprehensions; curly brackets {} are used for dictionaries, sets, and comprehensions; parentheses () are used for tuples, function calls, and grouping expressions. They are not interchangeable because each serves a specific role in the Python language.

In [25]:
# Create list
my_list = ["Python", "Java", "C++"]
print(my_list)
# Adding a new item - append
my_list.append("PHP")
print(my_list)
# Insert item at a specific position
my_list.insert(2, "Ruby")
print(my_list)
# Remove item at the end
my_list.pop()
print(my_list)
# remove specific value
my_list.remove("Java")
print(my_list)
# remove by index
del my_list[1]
print(my_list)

['Python', 'Java', 'C++']
['Python', 'Java', 'C++', 'PHP']
['Python', 'Java', 'Ruby', 'C++', 'PHP']
['Python', 'Java', 'Ruby', 'C++']
['Python', 'Ruby', 'C++']
['Python', 'C++']

In [26]:
# list slicing
list_data = [1, 2, 3, 4, 5]
# starting point : ending point : traversal method
list_data[3:]
list_data[3::-1]

[4, 3, 2, 1]

In [27]:
# list extending
list_a = [1, 2, 3]
list_b = ["a", "b", True]
# combining lists
print(list_a + list_b)
# extendin a list with another list
list_a.extend(list_b)
print(list_a)

[1, 2, 3, 'a', 'b', True]
[1, 2, 3, 'a', 'b', True]

In [28]:
# sort
list_data = [3, 5, 19, 20, 8]
list_data.sort()
print(list_data)
# Descending order
list_data.sort(reverse=True)
print(list_data)
list_names = ["Brandy", "Al", "Cristina", "Marc"]
list_names.sort()
print(list_names)

[3, 5, 8, 19, 20]
[20, 19, 8, 5, 3]
['Al', 'Brandy', 'Cristina', 'Marc']

### Tuple Methods

In [29]:
#create a tuple
tuple_data = (1, 2, 3, 4, 5)
print(tuple_data[2])
nested_list_tuple = ([1, 2], [3, 4], [5, 6])
print(nested_list_tuple[1][0])
# combining tuples
tuple_data = (1, 2) + (3, 4)
print(tuple_data)
# duplicating tuples in one tuple
tuple_data = (1, 2) * 3
print(tuple_data)

3
3
(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)

In [30]:
nested_list_tuple = ([1, 2], [3, 4], [5, 6])
nested_list_tuple[1][0] = 10
print(nested_list_tuple[1])

[10, 4]