In [1]:
print("Hello world!")

Hello world!

## Comments
Commenting is the process of adding annotations or remarks within your code to provide explanations, context, or documentation. Comments are not executed by the interpreter/compiler and are purely for the benefit of developers reading the code.

In [5]:
# This is a single line comment

In [4]:
"""
This is another way to create comments.
Multi-line comments.
enclosed in triple quotes
"""

'\nThis is another way to create comments.\nMulti-line comments.\nenclosed in triple quotes\n'

In [7]:
x = 5 # This is an inline comment

## Python Variables

**Creating Variables**

Creating a variable in Python is simple. You assign a value to a variable name and start using it. Python figures out the variable type automatically.

**Variable Naming Rules**
- Variable names can contain letters (both uppercase and lowercase), digits, and underscores.
- They must begin with a letter or an underscore (_), but not with a digit.
- Case sensitive (myVar and myvar are different variables)
- Python keywords cannot be used as variable names.

In [13]:
# Things to Avoid
# x - 2 = 10
# True = 5
# False = 4
# 2 = 5

## Data Types ##

### Numeric Types

**int** - Integer values, such as `5`, `-3`, `1000`, etc.

In [28]:
integer_number = 5
negative_int = -20
print(integer_number)
print(negative_int)

5
-20

In [30]:
print("Type of integer_number:", type(integer_number))

Type of integer_number: <class 'int'>

**float**: Floating-point values, representing decimal numbers, such as `3.14`, `-0.001`, `2.0`, etc.

In [34]:
float_number = 2.14
negative_float = -20.55
print(float_number)
print(negative_float)

2.14
-20.55

In [29]:
print("Type of float_number:", type(float_number))

Type of float_number: <class 'float'>

## Sequence Types ##
1. **String**: String values, representing text or characters, such as 'hello', "world", '123', etc.

In [7]:
str1 = "Hello World!"
str2 = 'Hello Python'
user = "user123"
print(str1)
print(str2)
print(user)

# String index
print(str1[0])
print(str1[-1])

Hello World!
Hello Python
user123
H
!

In [3]:
print(type(str1))

<class 'str'>

2. **Lists**: Lists are used when you need a collection of elements that can be modified or reordered. They are suitable for sequences of items of the same type or different types.

In [9]:
numbers = [1, 2, 3, 4, 5] # list of ints
names = ["Princess", "Ralph", "Lynbert"] #list of strings
print(numbers)
print(names)

# List indexing
print(numbers[0])
names[0] = "Lim"
print(names)

[1, 2, 3, 4, 5]
['Princess', 'Ralph', 'Lynbert']
1
['Lim', 'Ralph', 'Lynbert']

3. **Tuple**: Tuples are used when you want to store a fixed collection of elements that should not be changed. They are often used for immutable sequences, such as coordinates, database records, or function return values.

In [10]:
tuple_values = (1, "hello", 3.14)
print(tuple_values)

(1, 'hello', 3.14)

In [2]:
tuple_values[0] = 2
print(tuple_values)
# Tuples are not allowed to be changed.

NameError: name 'tuple_values' is not defined

**Dictionaries**:  Dictionaries are used when you need to associate keys with values for efficient lookup. They are suitable for representing data with key-value relationships, such as mappings, configurations, or database records indexed by unique keys.

In [14]:
person = {"name": "John", "age": 30}
print(person)
print(person['age'])

{'name': 'John', 'age': 30}
30

### Boolean Type:
**bool**: Boolean values representing True or False.

In [16]:
is_valid = True
is_admin = False
print(is_valid)
print(is_admin)

print(type(is_valid))

True
False
<class 'bool'>

**Dynamic Typing**

Variables can change type after they have been set. This is known as dynamic typing.

In [20]:
my_var = 10
print(type(my_var))

my_var = "Test String"
print(type(my_var))

my_var = 1.2
print(type(my_var))

<class 'int'>
<class 'str'>
<class 'float'>

## Python Operators and Expressions

### Arithmetic Operators

In [26]:
# Addition +
print("Addition:", 5 + 10)

# Subtraction -
print("Subtraction:", 5 - 10)

# Multiplication *
print("Multiplication:", 5 * 10)

# Division /
print("Division:", 5 / 10)

# Modulus %
print("Modulus:", 23 % 7)

# Exponent
print("Exponent: ", 10 ** 3) #10^3

Addition: 15
Subtraction: -5
Multiplication: 50
Division: 0.5
Modulus: 2
Exponent:  1000

### Comparison Operators

In [34]:
x = 10
y = 5

# Equal to
result = x == y
print(result)

# Not equal to
result = x != y
print(result)

# Greater Than
result = x > y
print(result)

# Less Than
result = x < y
print(result)

# greater than or equal to
result = x >= y
print(result)

# less than or equal to
result = x <= y
print(result)

result = x <= y
print(result)

False
True
True
False
True
False
False

### Logical Operators:

In [40]:
x = 10
y = 5

# AND
result = (x > 5) and (y < 10)
print(result)

# OR
result = (x > 5) or (y < 3)
print(result)

# NOT
result = not (x == 10)
print(result)

True
True
False

## Assignment Operators

In [44]:
x = 10

#Addition Assignment
x += 5 # x = x + 5
print(x)

#Subtraction
x -= 5
print(x)

#Multiplication
x *= 5
print(x)

#Division
x /= 5
print(x)

15
10
50
10.0

### Type Coercion or Type Conversion

In [50]:
x = 10 # int

# converting to float
x = float(x)
print(x)
print(type(x))

# convert to string
x = 10.23
x = str(x)

print(x)
print(type(x))

x = 10.45
x = int(x)
print(x)

10.0
<class 'float'>
10.23
<class 'str'>
10

## String Methods

In [59]:
my_string = "Hello Python!"
print(my_string)
print(len(my_string))

first_letter = my_string[0]
print(first_letter)

slice_string = my_string[0:5]
print(slice_string)

my_text = "Reverse this string!"
# starting point: ending point : traversal method
reversed_string = my_text[::-1]
print(reversed_string)

reverse_this = my_text[11:6:-1]
print(reverse_this)

Hello Python!
13
H
Hello
!gnirts siht esreveR
siht

In [69]:
sample_string = "data analytics course"

# capitalize
print(sample_string.capitalize())

# title
print(sample_string.title())

# in
print("data" in sample_string)
print("science" in sample_string)

# find
print(sample_string.find("analytics"))
print(sample_string.find("science"))

#replace
print(sample_string.replace("data", "information"))

# combine
print(sample_string.replace("data", "information").title())

# lower and uppercase
print(sample_string.upper())
print(sample_string.lower())

Data analytics course
Data Analytics Course
True
False
5
-1
information analytics course
Information Analytics Course
DATA ANALYTICS COURSE
data analytics course

In [73]:
text = "the quick brown fox jumps over the lazy dog"

# count
print(text.count("the"))

messy_string = "        Data Analyst - Junior       "
# strip
print(messy_string.strip())

# split
sentence = "Python is fun to learn"
words = sentence.split()
print("Words:", words)

2
Data Analyst - Junior
Words: ['Python', 'is', 'fun', 'to', 'learn']

**Concatenation, f-strings and .format()**

In [79]:
first_name = "Abbi"
last_name = "Vicente"

full_name = first_name + " " + last_name
print(full_name)

#f-strings
print(f"Hello my name is {first_name} {last_name}")

sql_str = """
SELECT * FROM
WHERE
x in ({x})
"""

print(sql_str.format(x=first_name))

Abbi Vicente
Hello my name is Abbi Vicente

SELECT * FROM
WHERE
x in (Abbi)

## List Methods

In [85]:
# Create list
my_list = ["Python", "Java", "C++"]
print(my_list)

# Adding a new item - append
my_list.append("PHP")
print(my_list)

# Insert item at a specific position
my_list.insert(2, "Ruby")
print(my_list)

# Remove item at the end
my_list.pop()
print(my_list)

# remove specific value
my_list.remove("Java")
print(my_list)

# remove by index
del my_list[1]
print(my_list)

['Python', 'Java', 'C++']
['Python', 'Java', 'C++', 'PHP']
['Python', 'Java', 'Ruby', 'C++', 'PHP']
['Python', 'Java', 'Ruby', 'C++']
['Python', 'Ruby', 'C++']
['Python', 'C++']

In [87]:
# list slicing
list_data = [1, 2, 3, 4, 5]

# starting point : ending point : traversal method
list_data[3:]
list_data[3::-1]

[4, 3, 2, 1]

In [89]:
# list extending
list_a = [1, 2, 3]
list_b = ["a", "b", True]

# combining lists
print(list_a + list_b)

# extendin a list with another list
list_a.extend(list_b)
print(list_a)

[1, 2, 3, 'a', 'b', True]
[1, 2, 3, 'a', 'b', True]

In [93]:
# sort
list_data = [3, 5, 19, 20, 8]
list_data.sort()
print(list_data)

# Descending order
list_data.sort(reverse=True)
print(list_data)

list_names = ["Brandy", "Al", "Cristina", "Marc"]
list_names.sort()
print(list_names)

[3, 5, 8, 19, 20]
[20, 19, 8, 5, 3]
['Al', 'Brandy', 'Cristina', 'Marc']

## Tuple Methods

In [99]:
#create a tuple
tuple_data = (1, 2, 3, 4, 5)
print(tuple_data[2])

nested_list_tuple = ([1, 2], [3, 4], [5, 6])
print(nested_list_tuple[1][0])

# combining tuples
tuple_data = (1, 2) + (3, 4)
print(tuple_data)

# duplicating tuples in one tuple
tuple_data = (1, 2) * 3
print(tuple_data)

3
3
(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)

In [100]:
nested_list_tuple = ([1, 2], [3, 4], [5, 6])
nested_list_tuple[1][0] = 10
print(nested_list_tuple[1])

[10, 4]

### Dictionary Methods

In [1]:
dict_data = {"name": "John","age": 20,"country": "PH"}
print(dict_data["name"])
# get
print(dict_data.get("country"))
# remove key-value pairs
del dict_data["age"]
print(dict_data)
# keys - List out keys of a dictionary
print(dict_data.keys())
# values - List out values of a dictionary
print(dict_data.values())
# items - get key-value pairs
print(dict_data.items())

John
PH
{'name': 'John', 'country': 'PH'}
dict_keys(['name', 'country'])
dict_values(['John', 'PH'])
dict_items([('name', 'John'), ('country', 'PH')])

In [2]:
dict_data1 = {"a": 1, "b": 2}
print(dict_data1)
dict_data2 = {"b": 3, "c": 4}
print(dict_data2)
# update - update/merge
dict_data1.update(dict_data2)
print(dict_data1)

{'a': 1, 'b': 2}
{'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

### Getting a Dictionary of Keys and Default Values

In [3]:
keys = ["a", "b", "c"]
default_values = 0
dict_data3 = dict.fromkeys(keys, default_values)
print(dict_data3)
# setting new values for keys
dict_data3["a"] = 1
print(dict_data3)

{'a': 0, 'b': 0, 'c': 0}
{'a': 1, 'b': 0, 'c': 0}

### Control Flows and Statements

In [4]:
# conditional statements
# if/else
temperature = 29
if temperature >= 40:
 print("It's pretty hot.")
elif temperature >= 30:
 print("It's not as hot as before")
else:
 print("Wow! It's not hot!")
 # match/case
day = "Thursday"
match day:
 case "Monday":
  print("It's the start of the week")
 case "Friday":
  print("It's the weekend!")
 case _:
  print("It's a regular day")

Wow! It's not hot!
It's a regular day

In [5]:
# Looping Statements
# while
count = 0
while (count < 3):
 print(count)
 count = count + 1
else:
 print("While loop is done!")
# For
# range(number of times to repeat statement)
for i in range(10):
    print(i)
# range(starting value, ending value)
for i in range(1, 6):
    print(i)
# iterable values (lists, tuples, strings, etc.)
# looping through lists
list_data = [1, 2, 3, 4, 5]
# for i in list_data:
#     print("List data: ", i)
# printing horizontally
list_str = ""
for i in list_data:
    list_str += f"{i} "
print(list_str)
# looping through strings
str4 = "test"
for i in str4:
    print(i)

0
1
2
While loop is done!
0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
1 2 3 4 5
t
e
s
t

### Python Functions
- Groups code together into a block.
- Allows us to call and reuse code efficently.
- It could take in information (parameters) and return information (return statement) to the caller.

In [6]:
def my_function():
 print("Hello World")
# calling a function
my_function()
my_function()
my_function()
my_function()

Hello World
Hello World
Hello World
Hello World

In [7]:
# parameters and arguments
def name_function(fname):
 print(f"Hello, I am {fname}.")
name_function("Abbi")
# multiple parameters and arguments
def full_name(fname, lname):
 print("Hello, I am" + " " + fname + " " + lname)
full_name("Abbi", "Vicente")

Hello, I am Abbi.
Hello, I am Abbi Vicente

In [8]:
# Arbitrary Arguments (*args)
def list_function(*kids):
 for i in kids:
  print(i)
list_function("Aaron", "Francis", "Adrian", "Julia")

Aaron
Francis
Adrian
Julia

In [9]:
# Keyword Arguments
def fruit_function(fruit3, fruit2, fruit1):
 print(fruit1)
 print(fruit2)
 print(fruit3)
fruit_function(fruit1="Banana", fruit2="Grapes", fruit3="Apple")
# Arbitrary keyword arguments (**kwargs)
# use pass to make placeholder functions
def person_function(**details):
 print(f"This person's name is {details["fname"]} {details["lname"]}")
person_function(fname="Princess", lname="Lim")

Banana
Grapes
Apple
This person's name is Princess Lim